/* color */
$primary-clr: #9356DC;
$secondary-clr: #FF79DA;
$tertiary-clr: #99E2D0;

/*trouver autre nom*/
$black-grey-clr: #353535;
$white-grey-clr: #F6F6F6;
$grey-clr: #7E7E7E;
$black-clr: #000;
$white-clr: #fff;
$bg-clr-white: #EAEAEA;